.jumbotron {
  background-color: #1a932a;
  color: white;
  margin-top: 50px;
  margin-botton: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #1a932a;
  margin-top: 10px;
  margin-botton: 0px;
  color: white; }

footer a {
  color: white; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-botton: 0px; }

.btn-reserve {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.footer-social-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 0; }
