$yellow: #1a932a;

@mixin margins($top,$bottom){
  margin-top: $top;
  margin-botton: $bottom;
}

.jumbotron{
  background-color: $yellow;
  color: white;
  @include margins(50px,0px);
}

footer{
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margins(10px,0px);
  color: white;
}

footer a{
  color: white;
}

.card-hotel{
  flex: 1 200px;
  @include margins(10px,0px);
}

 .btn-reserve{
   width: 100%;
 }

.footer-address-icon{
  padding-right: 10px;
}

.footer-social-icon{
  padding-right: 10px;
}

.tab-content{
  padding-top: 0;
}
